@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
	font-family: 'Anonymous Pro', serif;
	font-weight: 400;
	font-style: normal;
}

.main-container {
	width: 1200px;
	margin: auto;
	background: rgb(2, 0, 159);
	background: linear-gradient(
		351deg,
		rgba(2, 0, 159, 1) 0%,
		rgba(2, 2, 62, 0.6194852941176471) 54%,
		rgba(114, 0, 200, 1) 100%
	);
	margin-top: 100px;
  border: solid 1px black;
  border-radius: 20px;
}

.orange {
	color: orange;
	padding-left: 30px;
	font-size: 20px;
}

.white {
	color: white;
	padding-left: 40px;
	font-size: 18px;
}

.fir {
	padding-top: 30px;
}

.last {
	padding-bottom: 30px;
}

.sotr-chisel {
	display: flex;
	flex-direction: row;
  justify-content: space-evenly;
	width: 1200px;
	margin: auto;
}


.chisel {
	text-align: center;
	font-size: 30px;
}

.chisel-container h1 {
	text-align: center;
	color: orange;
}

.chisel-container {
	margin-top: 100px;
}

.chisel-container p {
	font-size: 18px;
}

.map-pk {
	margin: auto;
	width: 1170px;
  border-radius: 20px;
  border: solid 3px blue;
  padding: 15px;
  margin-bottom: 100px;
	display: block;
}

.map-tel {
	display: none;
}

@media (max-width: 768px) {
	.main-container {
		width: 100%;
		margin-top: 30px;
	}

	.orange {
		font-size: 16px;
	}

	.white {
		font-size: 15px;
	}

	.chisel-container {
		display: flex;
		flex-direction: column;
	}

	.sotr-chisel {
		display: flex;
		flex-direction: column;
		margin: 0;
		width: 100%;
	}

	.map-pk {
		display: none;
	}

	.map-tel {
		display: flex;
		justify-content: center;
	}
}

